.DS_Store
.env
.env.production
.env.db
secrets/
node_modules/
.vscode
/config
/frontend/src/config


# Optional npm cache directory
.npm

# TypeScript cache
*.tsbuildinfo

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variable files

.env.development.local
.env.test.local
.env.production.local
.env.local

# Yarn Integrity file
.yarn-integrity

# Next.js build output
.next
out

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

dist/