version: "3.6"

services:
  web:
    build: 
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: postgres:latest
    environment:
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=postgres
        - POSTGRES_DB=mydb
    ports:
      - "5433:5432"
    volumes:
      - db_data:/var/lib/postgresql/data/
    restart: unless-stopped

volumes:
    db_data: